<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
        <div id="sudoku">
            {% for i in range(9) %}
                {% for j in range(9) %}
                    {% if j in [2, 5]%}
                        {% set x = "border-right: 7px solid green;" %}
                    {% else %}
                        {% set x = "" %}
                    {% endif %}

                    {% if i in [2, 5]%}
                        {% set y = "border-bottom: 7px solid green;" %}
                    {% else %}
                        {% set y = "" %}
                    {% endif %}
                    <div class="box" style="{{x + y}}">
                        <div class="hidden">.</div>
                        <div class="number" id="number-{{i}}{{j}}">{{board[i][j] if board}}</div>

                        <input class="input" id="input-{{i}}{{j}}" type="text" onchange=
                        "document.getElementById('number-{{i}}{{j}}').innerHTML=document.getElementById('input-{{i}}{{j}}').value">
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="btn-wrapper">
            <div class="generate" onclick="window.location='/?generate=1'"> GENERATE </div>
            <div class="solve" onclick="window.location='/solve?board_str='+document.getElementById('sudoku').innerText"> SOLVE </div>
        </div>
    </div>
  </body>
</html>